[Unit]
Description=Check for available bluetooth devices and attempt connecting to them.
Requires=bluetooth.service
After=bluetooth.service

[Service]
WorkingDirectory=/home/benni/project/beehive-sensing/src/
ExecStart=/usr/local/bin/beerun.sh
User=benni
WatchdogSec=3min
Restart=always

[Install]
WantedBy=multi-user.target
